body{
    padding: 0 0 200px 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Calibri;
    background: rgb(0,114,139);
    background: linear-gradient(180deg, rgba(0,114,139,1) 0%, rgba(1,140,164,1) 47%, rgba(61,201,193,1) 100%);
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

body:after {
    background-image: url("./img/noise.png");
    background-size: 500px;
    bottom: 0;
    content: " ";
    height: 100%;
    left: 0;
    opacity: 1 ;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

body:before {
    background-image: url("./img/overlayLine.svg");
    background-size: 10px;
    bottom: 0;
    content: " ";
    height: 100%;
    left: 0;
    opacity: 1 ;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 101;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow:0 0  10px 0 rgba(0, 0, 0, 0.2),inset 0 0 100px rgba(255, 255, 255, .3);
    margin: 5px;

}

nav span{
    width: 300px;
    display: flex;
    justify-content: space-around;
    font-family: Calibri;
}
nav h1{
    color: #fff;
    font-size: 30px;
    margin: 15px 0 15px 10px;
}

nav a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: 0.1s ease-in-out;
}

nav a:hover{
    color: #fff;
}

.search-div{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px auto;
}
.search-div input{
    flex: max-content;
    height: 60px;
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    box-shadow:0 0  10px 0 rgba(0, 0, 0, 0.2),inset 0 0 100px rgba(255, 255, 255, .3);
    color: #fff;
    font-size: 20px;
    padding: 0 20px 0 20px;
    outline: none;
}
.search-div button {
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    box-shadow:0 0  10px 0 rgba(0, 0, 0, 0.2),inset 0 0 100px rgba(255, 255, 255, .3);
    color: #fff;
    height: 60px;
    padding: 0 40px 0 40px;
    font-size: 20px;
    transition: 0.1s ease-in-out;
    margin-left: 20px;

}
button:hover{
    cursor: pointer;
}

.search-div button:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.20);
}

#search-result{
    margin: auto;
    border-radius:15px;
    /*border: 2px solid rgba(255, 255, 255, 0.3);*/
    background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    box-shadow:0 0  10px 0 rgba(0, 0, 0, 0.2),inset 0 0 100px rgba(255, 255, 255, .3);
    color: #fff;
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}

.meteo-journee{
    flex: none;
    width: 300px;
    background: red;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow:0 0  10px 0 rgba(0, 0, 0, 0.2),inset 0 0 100px rgba(255, 255, 255, .3);
    border-radius:15px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}


.meteo-journee p{
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}


.meteo-journee img{
    margin: -30px 0;
    width: 75%;
}
#search-result-meteo{
    flex: none;
    display: flex;
    overflow: auto;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}


.temp{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /*align-items: center;*/
}

.temp h1{
    margin: 0 5px;


}
.tempmin{
    opacity: 0.7;
    font-size: 28px;
}
.tempmax{
    font-size: 50px;
}






#search-result-meteo::-webkit-scrollbar-track
{
    display: none;
}



#search-result-meteo::-webkit-scrollbar
{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
}
#search-result-meteo::-webkit-scrollbar-thumb
{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 100px;
}


#search-result-meteo::-webkit-scrollbar-thumb:hover
{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
}


footer{
    position: absolute;
    float: bottom;
    bottom: 0;
    height: 100px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.15);
    box-shadow:0 0  10px 0 rgba(0, 0, 0, 0.2),inset 0 0 100px rgba(255, 255, 255, .3);
        backdrop-filter: blur(10px);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1201px) {

}
@media (max-width: 1200px) {

}